*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
html,body{
    height: 100% ;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 0px 90px;
    padding-top: 150px;
}

#left{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
}

#left h1{
    font-size: 90px;
    line-height: 100px;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
}
#bottom-left{
    width: 100%;
}
#color{
    width: fit-content;
    padding: 5px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid black;
}
#color h5{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 500;
}
#color1{
    height: 20px;
    width: 20px;
    background-color: brown;
    border-radius: 50%;
    margin-right: 5px;
}
#color2{
    height: 20px;
    width: 20px;
    background-color: darkblue;
    border-radius: 50%;

}
#left h2{
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 10px;
}
#left p{
    font-size: 12px;
    width: 65%;
    font-weight: 500;
    color: #444;
    line-height: 20px;
}
#right{
    height: 90%;
    width: 35%;
    background-color: goldenrod;
    position: relative;
}
#right-top {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;

}
#right-top h4{
    font-size: 20px;

}